@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth; 
}

.hamburger {
  position: relative;
  z-index: 100;
  width: 25px;
  height: 2px;
  margin: 0 10px;
  transition: 0.5s;
  border-radius: 23%;
}

.hamburger::before {
  left: 0px;
  top: -12px;
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 23%;
}

.hamburger::after {
  left: 0px;
  top: 12px;
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 23%;
}

/* width */
.scrollExperiences::-webkit-scrollbar {
  height: 8px;
}

/* Handle */
.scrollExperiences::-webkit-scrollbar-thumb {
  background: #495670;
  border-radius: 10px;
}

.email {
  writing-mode: vertical-rl;
}
